@import "tailwindcss";

* {
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  -text: #000000;
  --border: #C1C1C1;
  --text-sec: #444444;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.--border {
 border: var(--border) 2px solid;
}

.bg-alb {
  background-color: var(--background);
}
.text-sec {
  color: var(--text-sec);
}

.text-prim {
  color: #2835DE;
}

button {
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1), color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

button:hover {
  cursor: pointer;
  transform: scale(1.08);
}

button{
  background-color: var(--background);
  color: var(--text-sec);
}

body {
  background: var(--background);
  font-family: var(--font-poppins) ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-protest-strike) ;
}


.animation-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.hover:hover{
  z-index: 40;

}

.animate-slide {
  animation: slide 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translatex(-130px);
  }
  100% {
    opacity: 1;
    transform: translatex(-0);
  }
}